 #equipo{
    text-align: center;
    background-color: #673ab7;
    color: white;
 }

 #equipo-imagen{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
 }
 #entrenador{
    text-align: center;
    font-weight: bold;
    color: #673ab7;
 }

 #jugadores{
    border-collapse: collapse;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

 }

 tr{
    border: solid 2px;
    text-align: center;

 }

 th{
    border: black solid 2px;
    background-color: #673ab7;
    color: white;
    text-align: center;
 }

 td{
    border: solid 2px;
    text-align: center;
 }

 body{
    font-family: "Lato", serif;
 }